* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@mixin centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div {
  height: 100vh;
  width: 100%;

  &.welcome {
    background-color: aqua;
    @include centering();
  }

  &.button {
    @include centering();
    background-color: aquamarine;
  }


}

.content {
  margin: 0 100px;
  width: 100%;
  height: 50vh;

  @include centering();
  flex-direction: column;

  &-row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}


lib-expand {
  & img {
    width: 498px;
    height: auto;
    object-fit: fill;
  }
}
